/* --------------------GENERALE ------------------------*/

:root{
    --bluh: rgb(24, 122, 241);
    --blutxt: rgb(0, 93, 156);
    --blubg: rgba(202, 240, 248, 0.804);
}
 h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{
    font-family: "Bona Nova SC", serif;
    color: var(--bluh);
 }

body{
    font-family: "Lora", serif;
    background-color: var(--blubg);
    color: rgb(1, 94, 156);
}

.hminRevisor{
  max-height: 100vh;
  /* min-height: 50vh; */
  padding-bottom: 0px;
}

/* --------------------NAVBAR ------------------------*/
.btnSearch{
color: var(--bluh);
background-color: var(--blubg);
}
.btnSearch:hover{
background-color: var(--blubg);
color: var(--blutxt);
}

.dropSearch{
  background-color: rgba(22, 162, 255, 0.31);
}

.dropSearchTXT{
  color: var(--bluh);
  text-decoration: none;
}


.searchCustom{
  background-color: var(--blubg);
  border-color: var(--blubg);
}

.searchCustom:focus{
  background-color: rgba(186, 221, 244, 0.218);
  color: var(--blutxt);
  border: 0px;
}

.navCustom{
    background-color: rgba(22, 162, 255, 0.31);
    width: 100%;
}

.dropCustom1{
  background-color: rgb(202, 240, 248);
  border: var(--blubg);
} 

.dropCustomLink{
  color: var(--bluh) !important;
}


.navColor1{
    color: var(--bluh) !important ;
}
.navColor2{
  color: var(--blubg) !important;
}


@media screen and (max-width: 767px) {

.navbar-toggler{
position: relative;

}
.nameR{
  color: var(--blubg);
}

.titResp{
  margin-top: 10%;
}
.navbar-collapse{
  background-color: var(--bluh);
  
}
#navLink {
  color: var(--blubg) !important;
  margin-left: 5px;
}

footer{
  /* margin-top: 190vh; */
}

}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .navbar-toggler{
    position: relative;
    
    }
    .nameR{
      color: var(--blubg);
    }
    
    .titResp{
      margin-top: 10%;
    }
    .navbar-collapse{
      background-color: var(--bluh);
      
    }
    #navLink {
      color: var(--blubg) !important;
      margin-left: 5px;
    }

    .cardR{
    
     display: flex;
     flex-wrap: wrap;
    
    }
}
/* --------------------FOOTER ------------------------*/

.footerCustom{
    background-color: #16a2ff4f;
}

.copyrightCustom{
    background-color: var(--bluh);
    color: var(--blubg);
}

/* --------------------HOMEPAGE ------------------------*/

.titolo{
    color: var(--blutxt);
}

.titolo2{
  color: var(--blutxt);
}

.bgList{
  background-image: url('/resources/media/headL2.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-top: 4%;
}

.colosseo{
  width: 100%;
}

.authFont{
  font-size: larger;
}

.bgCustom{
  margin-top: 30px;
  background-image: url('/resources/media/bghome0p2.png');
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* ----------------Inizio mappa--------------- */
svg path{
  cursor: pointer;
  fill: var(--blutxt);
  stroke: var(--blutxt);
}

svg path:hover{
  fill: transparent;
  transition: .4s;
}

/* .cartina{
  background-color: red;
  opacity: 100%;
  position: relative;
  z-index: 5;
} */


/* -------------------fine mappa----------------- */


/* ----------------- inizio button 1--------------------- */

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }

  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: rgba(1, 112, 249, 0.371);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }

  .cta span {
    position: relative;
    font-family: "Lora", serif;

    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--blutxt);
  }

  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--blutxt);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  .cta:hover:before {
    width: 100%;
    background:rgba(1, 112, 249, 0.371);
  }

  .cta:hover svg {
    transform: translateX(0);
  }

  .cta:active {
    transform: scale(0.95);
  }

/* ----------------- fine button 1 --------------------- */


.headCustomC{
  width: 100%;
}

/*---------------- fine btn preferiti --------------*/

.heart-container {
  
  --heart-color: rgb(91, 173, 255);
  position: relative;
  width: 30px;
  height: 30px;
  transition: .3s;
  margin-right: 25px;
  margin-top: 5px;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
  
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

/*---------------- fine btn preferiti --------------*/

/* ---------------------AUTENTICAZIONE ---------------------*/

/* ----------------- Inizio form login --------------------- */



.form_main {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blubg);
  padding: 30px 30px 30px 30px;
  box-shadow: 5px 5px 40px var(--bluh);
  position: relative;
  overflow: hidden;
}

.form_main::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: rgba(24, 122, 241, 0.528);
  transform: rotate(45deg);
  left: -180px;
  bottom: 30px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
  font-size: 2em;
  color: var(--blubg);
  font-weight: 700;
  margin: 5px 0 10px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 50%;
  
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--bluh);
  margin: 10px 0;
  color: var(--blutxt);
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid var(--blutxt);
}

.inputField::placeholder {
  color: var(--blutxt);
  font-size: 1em;
  font-weight: 500;
}

#button {
  z-index: 2;
  position: relative;
  width: 100%;
  border: none;
  background-color: var(--bluh);
  height: 30px;
  color: var(--blubg);
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}

#button:hover {
  background-color: var(--blubg);
  color: var(--blutxt);
  border: solid 2px var(--blutxt);
}

/* .forgotLink {
  z-index: 2;
  font-size: .7em;
  font-weight: 500;
  color: rgb(44, 24, 128);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
} */

/* ----------------- Fine form login --------------------- */

/* ----------------- Inizio form register --------------------- */



.form_mainR {
  width: 800px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blubg);
  padding: 30px 30px 30px 30px;
  box-shadow: 5px 5px 40px var(--bluh);
  position: relative;
  overflow: hidden;
}

.form_mainR::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: rgba(24, 122, 241, 0.528);
  transform: rotate(45deg);
  left: -180px;
  bottom: 30px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

/* .heading {
  font-size: 2em;
  color: var(--blubg);
  font-weight: 700;
  margin: 5px 0 10px 0;
  z-index: 2;
} */

.inputContainerR {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIconR {
  position: absolute;
  left: 3px;
}

.inputFieldR {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--bluh);
  margin: 10px 0;
  color: var(--blutxt);
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputFieldR:focus {
  outline: none;
  border-bottom: 2px solid var(--blutxt);
}

.inputFieldR::placeholder {
  color: var(--blutxt);
  font-size: 1em;
  font-weight: 500;
}

#button {
  z-index: 2;
  position: relative;
  width: 100%;
  border: none;
  background-color: var(--bluh);
  height: 30px;
  color: var(--blubg);
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#button:hover {
  background-color: var(--blubg);
  color: var(--blutxt);
  border: solid 2px var(--blutxt);
}

/* .forgotLink {
  z-index: 2;
  font-size: .7em;
  font-weight: 500;
  color: rgb(44, 24, 128);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
} */

/* ----------------- Fine form register --------------------- */

/* --------------------------- CARDS -----------------------------*/

.dropCustom{
  background-color: var(--bluh);
  color: var(--blubg);
}

.dropCustom:hover{
  padding: 2px;
  background-image: linear-gradient(to bottom, #caf0f8cd 0%, rgb(24, 122, 241) 100%);
  color: rgb(4, 62, 101);

}

.cta{
  color: var(--blutxt);
}

.cardCustom{
  background-color: rgba(24, 122, 241, 0.131);
  color: var(--blutxt);
  height: 550px;
}

/* -----------inizio btn card-------------- */
.buttonCard {

  width: 180px;
  border: none;
  color: rgb(212, 223, 226);
  background-image: linear-gradient(30deg, rgb(5, 96, 208), #2ed1fa);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  
 }

 .buttonCard:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }

 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }
/* ---------------fine btn card------------------- */

/* ------------------------- CARD LISTA ------------------------*/
/* .card2{
  width: 100%;
 height: 200px;
} */

.verticalTxt{
  writing-mode:vertical-lr;
  text-orientation:sideways;
  font-size: small;
  font-weight:bolder;
  position: relative;
  word-wrap:break-word;
  font-family: "Rubik Mono One";
}

.boxminiList{
  width: 80px;
  height: 180px;
  background-color: rgba(24, 122, 241, 0.187);
  border-radius: 10px;
  position: absolute;

}


.containerLista {
  width: 100%;
  height: 180px;
  background-color: rgba(24, 122, 241, 0.187);
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: larger;
}
.rowLista{
  width: 100%;
  align-items: center;
  padding-right: 0px;
}
.imgLista {
  width: 150px;
}


/* -------------------- fine card2 -------------------*/



/* --------------------BOH ------------------------*/
.page-link{
  background-color:var(--blutxt);
  color: var(--blubg);
}

.page-link:hover{
  background-color: #2ebdfa;
  border: #015e9c;
  color: var(--blutxt);
}

/* .ciao{
  background-color:var(--blutxt);
  color: var(--blubg);
}

.ciao:hover{
  background-color: #2ebdfa;
  border: #015e9c;
  color: var(--blutxt);
}  */

/*---------------- inizio dashboard --------------*/
.bgDash{ 
  height: 500px; 
  display: flex;
  justify-content: space-between;
}

/*---------------- fine dashboard --------------*/

/* ---------------Inizio Banner ------------------*/
.banner{
  height: 150px;
  background: linear-gradient(to top, rgba(22, 162, 255, 0.676), rgba(202, 240, 248, 0.855));
  /* border: solid gold 4px; */
  color: var(--blutxt);
  font-family: "Bona Nova SC", serif;
  font-size: x-large;
  z-index: 0;
  pointer-events: none;
  top: 0;
}
/*--------------- Fine Banner ---------------------*/

.img-preview{
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.borderPreview{
  border: solid 1px var(--bluh);
  border-radius: 2%;
}

.carouselCustom{
  height: 500px;
}

.txError{
  font-size: smaller;
}

/* .ciaoa{
  margin-top: 800px;
 
}

.ciaob{
  height: 300px;
} */

/* .filename{
  color: blue;
} */

.bgVal{
  background-color: var(--blubg);
}

.hminRevisor{
  min-height: 100px;
}

.bgCreate{
  background-image: url('/resources/media/headC2.jpeg');
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  margin-top: 4%;
}